---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[800px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-3">
				Hey, I'm Luis Herrero
				<Badge>Available for hire</Badge>
			</h1>

			<h2 class="text-white text-2xl font-thin">
				I'm an <span class="text-blue-600">Arg</span>e<span
					class="text-yellow-500">nt</span
				>in<span class="text-blue-600">ean</span>
				Full-stack developer. I specialize on Web and Mobile development. Eager to
				learn and improve
			</h2>

			<ul></ul>
		</section>
	</main>
</Layout>
