---
const { href } = Astro.props;
---

<a
  href={href}
  class={` 
  text-sm font-normal
  me-2 mb-2 px-5 py-0.5
  rounded-lg border  
  transition
  inline-flex items-center justify-center ${Astro.props.class}`}
  rel="noopener"
  target="_blank"
  ><slot />
</a>
