---
import { EXPERIENCE } from "../utils/Experiences.ts";
import Container from "./Container.astro";
import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-3">
  <div class="absolute -left-1 -top-0.5 rounded-full bg-white size-2"></div>
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-6 ms-4">
        <Container class="px-10 py-5">  
          <ExperienceItem {...experience} />
        </Container>
      </li>
    ))
  }
</ol>
